html
	head
		title game	
		link(rel="stylesheet" type="text/css" href="/src/css/style.css")
	body
		h1 POeewdsf
		#memory_board

		script(src="src/js/lodash.min.js")
		script(src="src/js/custom.js")
		script.
			newBoard();
