html
	body
		form(action="/login", method="POST")
			input(type="text", placeholder="Gimme your name", name="name")
			input(type="password", placeholder="Gimme your password", name="password")
			button(type="submit", value="submit") Submit your details